doctype html
html
  head
    title= title
    script(src="/dist/bundle.js")
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet')
  body
    #root
     asd
